[submodule "raw/progit2"]
	path = raw/progit2
	url = https://github.com/progit/progit2.git
[submodule "raw/progit2-zh"]
	path = raw/progit2-zh
	url = https://github.com/progit/progit2-zh.git
[submodule "raw/git-from-the-bottom-up"]
	path = raw/git-from-the-bottom-up
	url = https://github.com/jwiegley/git-from-the-bottom-up.git
[submodule "raw/visual-git-guide"]
	path = raw/visual-git-guide
	url = https://github.com/MarkLodato/visual-git-guide.git
